<div class="container">
    <div class="Panel panel-default">
        <div class="panel-heading"> Post A Message</div>
        <div class="panel-body">
            <div class="input-group">
                <!--<textarea class="form-control custom-control" rows=3 style="resize:none" ng-model="main.message" name="md5"></textarea>
            <span class="input-group-addon btn btn-primary" ng-click="search.postMessage()" type="Submit">Post</span>-->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
                <script src="https://d3js.org/d3.v4.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $("button").click(function () {
                            var txt = $("input").val();
                            $.post("http://localhost:5000/api/search", {
                                txt
                            }, function (data, status) {
                                console.log("Data: " + JSON.stringify(data[0]) + "\nStatus: " + status);
                                $("span").html(JSON.stringify(data[0]));
                            });
                        });
                    });
                </script>
                <input type="text">
                <button> Send an HTTP POST request to a page and get the result back</button>
            </div>
        </div>
        <script>
            d3.select("span").style("color", "black").style("background-color", "white");
        </script>
        <div class="Panel panel-default" id="target">
            <div class="panel-heading" id="template">
                <p>TEST: <span></span></p>
            </div>
        </div>

        <style>

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>
<div class="chart">
  <div style="width: 40px;">4</div>
  <div style="width: 80px;">8</div>
  <div style="width: 150px;">15</div>
  <div style="width: 160px;">16</div>
  <div style="width: 230px;">23</div>
  <div style="width: 420px;">42</div>
</div>
